@page
@model Proiect_Paula_Iscu.Pages.Gadgets.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Add</h1>

<h4>Gadget</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Gadget.Name" class="control-label"></label>
                <input asp-for="Gadget.Name" class="form-control" />
                <span asp-validation-for="Gadget.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gadget.Brand" class="control-label"></label>
                <input asp-for="Gadget.Brand" class="form-control" />
                <span asp-validation-for="Gadget.Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gadget.Price" class="control-label"></label>
                <input asp-for="Gadget.Price" class="form-control" />
                <span asp-validation-for="Gadget.Price" class="text-danger"></span>
            </div>
            <div class="form-group" />
            <label asp-for="Gadget.PublishingDate" class="control-label"></label>
            <input asp-for="Gadget.PublishingDate" class="form-control" />
            <span asp-validation-for="Gadget.PublishingDate" class="textdanger"></span>
            <div class="form-group">
                <label asp-for="Gadget.Color" class="control-label"></label>
                <input asp-for="Gadget.Color" class="form-control" />
                <span asp-validation-for="Gadget.Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
