@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-2">Hello</h1>
    <p>For more information <a href="https://www.emag.ro/"> click here </a>.</p>
    
</div>
